.counter-container {
    display: flex;
    width: 100%;
    border: 1px solid #000;
    justify-content: space-around;
}

.output {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 0 1rem;
    font-size: 3rem;
}

.output p {
    font-size: 2rem;
}