.input-section {
    margin-bottom: 1500px;
}

.counter-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 1500px;
}

.output {
    background-color: orange;
    color: white;
    text-align: center;
    padding: 0 1rem;
    font-size: 3rem;
    height: 200px;
    width: 200px;
}

.output p {
    font-size: 2rem;
}

label, input {
    display: block;
}

input {
    margin-bottom: 1rem;
}

.success-message {
    color: green;
}